@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cookie&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

header{
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
}

nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
nav button{
    all: unset;
    cursor: pointer;
}
nav .logo{
    font-size: 3rem;
    font-family: "Amatic SC", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #2563EB;
    text-align: center;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #64748B;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    &:hover{
        color: #2563EB;
    }
}
.nav-links .active {
    color: #2563EB;
    font-weight: 600;
}
.nav-links .profile{
    display: flex;
    align-items: center;
    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }
}

.nav-links .login{
    border: 1px solid #2563EB;
    cursor: pointer;
    width: 100px;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    background-color: #2563EB;
    svg{
        margin: 0 8px 0 0;
    }
    a{
        color: #fff;
    }
}
.menu-btn{
    flex-direction: column;
    height: 26px;
    justify-content: space-evenly;
}
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
    
}
@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}
.nav-links.mobile{
    display: none;
}
.nav-links.open{
    display: flex;
    position: absolute;
    top: 85px;
    right: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    flex-direction: column;
    animation: slideIn 0.3s ease-in-out forwards;
}
.nav-links.close{
    display: flex;
    position: absolute;
    top: 85px;
    right: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    flex-direction: column;
    animation: slideOut 0.3s ease-in-out forwards;
}
.line{
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: black;
    transition: transform 0.3s ease;
    border-radius: 5px;
}
.line:nth-child(1).open{
    transform: rotate(45deg) translate(5px, 5px);
}
.line:nth-child(2).open{
    opacity: 0;
}
.line:nth-child(3).open{
    transform: rotate(-45deg) translate(5px, -5px);
}